services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      # ホストからバインドマウント
      - ./frontend:/app
      # ボリュームマウント
      - node_modules:/app/node_modules
    env_file:
      - frontend/.env
    ports:
      - "5173:5173"
    depends_on:
      - backend
    command:
      - /bin/bash
      - -c
      - |
        npm install
        npm run dev

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend:/app
      - venv:/app/.venv
    env_file:
      - backend/.env
    ports:
      - "8000:8000"
    depends_on:
      db:
        # データベースの起動を待つ
        condition: service_healthy
    command:
      # コンテナ起動時にマイグレーションとシードデータの投入を実行してからFastAPIを起動
      - /bin/bash
      - -c
      - |
        uv run alembic upgrade head
        uv run fastapi dev --host 0.0.0.0 --port 8000
  db:
    image: pgvector/pgvector:pg17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # コンテナ初作成時に自動実行されるSQLファイルを配置するディレクトリをマウント
      - ./backend/develop/initdb:/docker-entrypoint-initdb.d
    healthcheck:
      # データベースのヘルスチェック
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 2s
      retries: 10

volumes:
  node_modules:
  venv:
  postgres_data:
